/**
 * Structure of a reactforum post
 * div.reactforumpost(.read.unread)
 *     div.header.row
 *         div.picture.left
 *         div.topic(.starter)
 *             div.subject
 *             div.author
 *     div.row
 *         div.side.left
 *         div.content-mask
 *             div.content
 *                 div.attachments
 *                 div.posting(.shortenedpost|.fullpost)
 *                     // message
 *                 div.attachedimages
 *                     // attachedimages
 *     div.row
 *         div.left
 *         div.options
 *             div.commands
 *             div.post-word-count
 *             div.reactforum-post-rating
 *             div.link
 *             div.footer
 */

.reactforumpost {
    display: block;
    position: relative;
    margin: 0 0 1em 0;
    padding: 0;
    border: 1px solid #000;
    max-width: 100%;
}

.reactforumpost .row {
    width: 100%;
    position: relative;
}

.reactforumpost .row .left {
    float: left;
    width: 43px;
    overflow: hidden;
}

.reactforumpost .row .left .grouppictures a {
    text-align: center;
    display: block;
    margin: 6px 2px 0 2px;
}

.reactforumpost .row .left .grouppicture {
    width: 20px;
    height: 20px;
}

.reactforumpost .row .topic,
.reactforumpost .row .content-mask,
.reactforumpost .row .options {
    margin-left: 43px;
}

.reactforumpost .picture img {
    margin: 4px;
}

.reactforumpost .options .commands,
.reactforumpost .content .attachments,
.reactforumpost .options .footer,
.reactforumpost .options .link {
    text-align: right;
}

.reactforumpost .options .reactforum-post-rating {
    float: left;
}

.reactforumpost .content .posting {
    overflow: auto;
    max-width: 100%;
}

.reactforumpost .content .attachedimages img {
    max-width: 100%;
}

.reactforumpost .post-word-count {
    font-size: .85em;
    font-style: italic;
}

.reactforumpost .shortenedpost .post-word-count {
    display: inline;
    padding: 0 .3em;
}

.path-mod-reactforum .reactforumolddiscuss,
#page-mod-reactforum-search .c0 {
    text-align: right;
}

.path-mod-reactforum .indent {
    margin-left: 3%;
}

.path-mod-reactforum .reactforumheaderlist {
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-collapse: separate;
    margin-top: 10px;
}

.path-mod-reactforum .reactforumheaderlist td {
    border-width: 1px 0 0 1px;
    border-style: solid;
}

.path-mod-reactforum .reactforumheaderlist th.header.replies .iconsmall {
    margin: 0 .3em;
}

.path-mod-reactforum .reactforumheaderlist .picture {
    width: 35px;
}

.path-mod-reactforum .reactforumheaderlist .discussion .starter {
    vertical-align: middle;
}

.path-mod-reactforum .reactforumheaderlist .discussion .pinned img {
    padding: 5px;
}

.path-mod-reactforum .reactforumheaderlist .discussion .lastpost {
    white-space: nowrap;
    text-align: right;
}

.path-mod-reactforum .reactforumheaderlist .replies,
.path-mod-reactforum .reactforumheaderlist .discussion .author {
    white-space: nowrap;
}

.path-mod-reactforum .reactforumheaderlist thead .discussionsubscription {
    text-align: center;
}

/** Styles for subscribers.php */
#page-mod-reactforum-subscribers .subscriberdiv,
#page-mod-reactforum-subscribers .subscribertable {
    width: 100%;
    vertical-align: top;
}

#page-mod-reactforum-subscribers .subscribertable tr td {
    vertical-align: top;
}

#page-mod-reactforum-subscribers .subscribertable tr td.actions {
    width: 16%;
    padding-top: 3em;
}

#page-mod-reactforum-subscribers .subscribertable tr td.actions .actionbutton {
    margin: 0.3em 0;
    padding: 0.5em 0;
    width: 100%;
}

#page-mod-reactforum-subscribers .subscribertable tr td.existing,
#page-mod-reactforum-subscribers .subscribertable tr td.potential {
    width: 42%;
}

/** Styles for discuss.php **/
#page-mod-reactforum-discuss .discussioncontrols {
    width: 100%;
    margin: 5px;
}

#page-mod-reactforum-discuss .discussioncontrols .controlscontainer {
    width: 100%;
    float: right;
}

#page-mod-reactforum-discuss .discussioncontrols .discussioncontrol {
    float: left;
}

#page-mod-reactforum-discuss .discussioncontrol.exporttoportfolio {
    text-align: left;
}

#page-mod-reactforum-discuss .discussioncontrol.displaymode {
    padding-right: 10px;
}

#page-mod-reactforum-discuss .discussioncontrol.movediscussion {
    padding-right: 10px;
}

/** Styles for view.php **/
#page-mod-reactforum-view .reactforumaddnew {
    margin-bottom: 20px;
}

#page-mod-reactforum-view .groupmenu {
    float: left;
    text-align: left;
    white-space: nowrap;
}

#page-mod-reactforum-index .subscription,
#page-mod-reactforum-view .subscription {
    float: right;
    text-align: right;
    white-space: nowrap;
    margin: 5px 0;
}

/** Styles for search.php */
#page-mod-reactforum-search .introcontent {
    padding: 15px;
    font-weight: bold;
}

.path-mod-reactforum span.unread a:first-child {
    padding-right: 10px;
}

.path-mod-reactforum span.unread img {
    margin-left: 5px;
}

/** Unknown Styles ??? */
#email .unsubscribelink {
    margin-top: 20px;
}

/* ReactForumpost unread
-------------------------*/
.reactforumpost.unread .row.header,
.path-course-view .unread,
span.unread {
    background-color: #ffd;
}

.reactforumpost.unread .row.header {
    border-bottom: 1px solid #ddd;
}

/* ReactForumpost hash anchor target */
.path-mod-reactforum :target ~ .reactforumpost:before {
    display: block;
    content: '';
    width: 4px;
    position: absolute;
    background: #0070a8;
    left: -1px;
    top: -1px;
    bottom: -1px;
}

/* Discussion navigation */
.path-mod-reactforum .discussion-nav {
    margin: .5em 0;
}

.path-mod-reactforum .discussion-nav ul {
    margin: 0;
    list-style: none;
}

.path-mod-reactforum .discussion-nav .prev-discussion:before {
    /*rtl:raw:
    content: ' ► ';
    */
    /*rtl:remove*/
    content: ' ◄ ';
}

.path-mod-reactforum .discussion-nav .next-discussion:after {
    /*rtl:raw:
    content: ' ◄ ';
    */
    /*rtl:remove*/
    content: ' ► ';
}

.path-mod-reactforum .discussion-nav .next-discussion {
    float: right;
}

.path-mod-reactforum .discussion-nav .prev-discussion {
    float: left;
}

.path-mod-reactforum .preload-subscribe {
    background: url([[pix:mod_reactforum|t/subscribed]]) no-repeat -9999px -9999px;
}

.path-mod-reactforum .preload-unsubscribe {
    background: url([[pix:mod_reactforum|t/unsubscribed]]) no-repeat -9999px -9999px;
}

.path-mod-reactforum .discussionsubscription {
    margin-top: -10px;
    text-align: right;
    margin-bottom: 10px;
}

.path-mod-reactforum .discussionsubscription > a > img {
    width: 12px;
    padding: 0 4px;
}

#page-mod-reactforum-view img.timedpost {
    margin-right: 5px;
}

img.reaction-img
{
    width: auto;
    height: 40px;
}