
.reactforumpost .row {
    margin-left: 0 !important;
    /* stylelint-disable-line declaration-no-important */
}
.reactforumpost .row:before,
.reactforumpost .row:after {
    content: none;
}
.block_search_reactforums #searchform_search {
    width: auto;
    max-width: 92%;
}

#page-mod-reactforum-search .c1 {
    *display: inline-block;
    *padding-left: 20px;
    margin-left: 200px;
    *margin-left: 0;
}
#page-mod-reactforum-search .c1:first-child {
    *padding-left: 200px;
}

.path-mod-reactforum .reactforumsearch input,
.path-mod-reactforum .reactforumsearch .helptooltip {
    margin: 0 3px;
}
.path-mod-reactforum .reactforumheaderlist,
.path-mod-reactforum .reactforumheaderlist td {
    border: none;
}
.path-mod-reactforum .reactforumheaderlist thead .header,
.path-mod-reactforum .reactforumheaderlist tbody .discussion td {
    white-space: normal;
    vertical-align: top;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.path-mod-reactforum .reactforumheaderlist thead .header {
    white-space: normal;
    vertical-align: top;
}
.path-mod-reactforum .reactforumheaderlist thead .header.replies {
    text-align: center;
}
.path-mod-reactforum .reactforumheaderlist thead .header.lastpost {
    text-align: right;
}
.path-mod-reactforum .reactforumheaderlist thead .header th.discussionsubscription,
.path-mod-reactforum .reactforumheaderlist tbody .discussion td.discussionsubscription {
    width: 16px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.path-mod-reactforum .reactforumheaderlist .discussion .author,
.path-mod-reactforum .reactforumheaderlist .discussion .replies,
.path-mod-reactforum .reactforumheaderlist .discussion .lastpost {
    white-space: normal;
}
.path-mod-reactforum .reactforumheaderlist .discussion .discussionsubscription,
.path-mod-reactforum .reactforumheaderlist .discussion .replies {
    text-align: center;
}
.path-mod-reactforum .reactforumheaderlist .discussion .topic,
.path-mod-reactforum .reactforumheaderlist .discussion .discussionsubscription,
.path-mod-reactforum .reactforumheaderlist .discussion .topic.starter,
.path-mod-reactforum .reactforumheaderlist .discussion .author,
.path-mod-reactforum .reactforumheaderlist .discussion .replies,
.path-mod-reactforum .reactforumheaderlist .discussion .lastpost {
    vertical-align: top;
}
.path-mod-reactforum .reactforumheaderlist .discussion .picture {
    margin: 0 20px;
    float: left;
}
.path-mod-reactforum .reactforumheaderlist .discussion .unread img {
    margin: 0;
}
.reactforumpost {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    border-color: #e3e3e3;
    padding: 6px;
}
.reactforumpost blockquote {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, 0.15);
}
.reactforumpost .header {
    margin-bottom: 3px;
}
.reactforumpost .picture img {
    margin: 3px;
}
.reactforumpost .picture img.userpicture {
    margin-left: 3px;
    margin-right: 10px;
}
.reactforumpost .content .posting.fullpost {
    margin-top: 8px;
}
.reactforumpost .row .topic,
.reactforumpost .row .content-mask,
.reactforumpost .row .options {
    margin-left: 48px;
}
.reactforumpost .row.side {
    clear: both;
}
.reactforumpost .row .left {
    width: 48px;
}
.reactforumpost .options .commands {
    margin-left: 0;
}
.reactforumpost .subject {
    font-weight: bold;
}
.reactforumsearch input[type=text] {
    margin-bottom: 0 !important;
    /* stylelint-disable-line declaration-no-important */
}
#page-mod-reactforum-discuss .discussioncontrols {
    width: auto;
    margin: 0;
}

@media (max-width: 1199px) {
    #page-mod-reactforum-discuss .discussioncontrols {
        text-align: right;
    }
    #page-mod-reactforum-discuss .discussioncontrols .discussioncontrol {
        float: none;
        width: auto;
        display: inline-block;
        margin: 0 3px 0.5em;
    }
    #page-mod-reactforum-discuss .discussioncontrols .discussioncontrol select,
    #page-mod-reactforum-discuss .discussioncontrols .discussioncontrol input {
        margin-bottom: 0;
    }
    #page-mod-reactforum-discuss .discussioncontrols .discussioncontrol.movediscussion {
        margin-right: 0;
        padding-right: 0;
    }
}

/* stylelint-disable declaration-no-important */
.reactforumheaderlist tbody > tr:nth-child(odd) > td,
.reactforumheaderlist tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}

.reactforumheaderlist tbody tr:hover > td,
.reactforumheaderlist tbody tr:hover > th {
    background-color: #f5f5f5;
}

img.reaction-img
{
    width: auto;
    height: 40px;
}